{:deps {edn-query-language/eql {:mvn/version "2021.07.18"}}
 :aliases
 {:build {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.8.2" :git/sha "0ffdb4c"}}
          :ns-default build}
  :test  {:extra-paths ["test"]
          :extra-deps {lambdaisland/kaocha           {:mvn/version "1.66.1034"}
                       lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}}
          :main-opts  ["-m" "kaocha.runner"]}}}
